# Import the Python libraries

In [2]:
#Data Analysis Tools
import pandas as pd
import numpy as np
# pd.set_option('display.max_rows', None)

import ast

#Visualizations
import matplotlib as mlp
import seaborn as sns

## Load data into dataframe

In [3]:
df = pd.read_csv('blackjack_simulator.csv',low_memory=False,nrows=250000)
df.head(10)

,shoe_id,cards_remaining,dealer_up,initial_hand,dealer_final,dealer_final_value,player_final,player_final_value,actions_taken,run_count,true_count,win
0,0,416,10,"[10, 11]","[10, 4, 10]",24,"[[10, 11]]",['BJ'],[['S']],1,0,1.5
1,0,411,10,"[5, 5]","[10, 8]",18,"[[5, 5, 11]]",[21],"[['H', 'S']]",-2,0,1.0
2,0,406,6,"[3, 10]","[6, 6, 10]",22,"[[3, 10]]",[13],[['S']],-2,0,1.0
3,0,401,10,"[5, 9]","[10, 8]",18,"[[5, 9, 11, 3]]",[18],"[['H', 'H', 'S']]",-1,0,0.0
4,0,395,8,"[6, 10]","[8, 2, 10]",20,"[[6, 10, 10]]",[26],[['H']],-1,0,-1.0
5,0,389,7,"[3, 4]","[7, 2, 10]",19,"[[3, 4, 11]]",[18],"[['H', 'S']]",-2,0,-1.0
6,0,383,6,"[3, 3]","[6, 10, 10]",26,"[[3, 2, 10], [3, 4, 5]]","[15, 12]","[['P', 'H', 'S'], ['H', 'S']]",-1,0,2.0
7,0,374,3,"[10, 8]","[3, 10, 7]",20,"[[10, 8]]",[18],[['S']],2,0,-1.0
8,0,369,5,"[8, 10]","[5, 10, 9]",24,"[[8, 10]]",[18],[['S']],1,0,1.0
9,0,364,9,"[6, 8]","[9, 2, 5, 11]",17,"[[6, 8, 6]]",[20],"[['H', 'S']]",0,0,1.0

## Exploratory Data Analysis

In [4]:
df.describe()

,shoe_id,cards_remaining,dealer_up,run_count,true_count,win
count,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000
mean,2056.088164,248.687132,7.294064,0.140380,0.039972,-0.008612
std,1187.510466,98.296702,2.918674,7.956753,2.052510,1.145964
min,0.000000,79.000000,2.000000,-35.000000,-19.000000,-7.000000
25%,1028.000000,163.000000,5.000000,-5.000000,-1.000000,-1.000000
50%,2056.000000,249.000000,8.000000,0.000000,0.000000,0.000000
75%,3085.000000,334.000000,10.000000,5.000000,1.000000,1.000000
max,4113.000000,416.000000,11.000000,36.000000,16.000000,7.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250000 entries, 0 to 249999
Data columns (total 12 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   shoe_id             250000 non-null  int64
 1   cards_remaining     250000 non-null  int64
 2   dealer_up           250000 non-null  int64
 3   initial_hand        250000 non-null  object
 4   dealer_final        250000 non-null  object
 5   dealer_final_value  250000 non-null  object
 6   player_final        250000 non-null  object
 7   player_final_value  250000 non-null  object
 8   actions_taken       250000 non-null  object
 9   run_count           250000 non-null  int64
 10  true_count          250000 non-null  int64
 11  win                 250000 non-null  float64
dtypes: float64(1), int64(5), object(6)
memory usage: 22.9+ MB

In [6]:
df.isnull().sum()

shoe_id               0
cards_remaining       0
dealer_up             0
initial_hand          0
dealer_final          0
dealer_final_value    0
player_final          0
player_final_value    0
actions_taken         0
run_count             0
true_count            0
win                   0
dtype: int64

In [7]:
df.duplicated().sum()

0

In [8]:
df.shape

(250000, 12)

In [9]:
df.columns

Index(['shoe_id', 'cards_remaining', 'dealer_up', 'initial_hand',
       'dealer_final', 'dealer_final_value', 'player_final',
       'player_final_value', 'actions_taken', 'run_count', 'true_count',
       'win'],
      dtype='object')

### Checking to see the data types per record

In [10]:
for i in df:
    print(f'{i} \nthe data type of that row {type(df[i][0])}')
# Although the hands recordings of the dealer hand and player hand look like lists, they are actually strings.

shoe_id
the data type of that row <class 'numpy.int64'>
cards_remaining
the data type of that row <class 'numpy.int64'>
dealer_up
the data type of that row <class 'numpy.int64'>
initial_hand
the data type of that row <class 'str'>
dealer_final
the data type of that row <class 'str'>
dealer_final_value
the data type of that row <class 'str'>
player_final
the data type of that row <class 'str'>
player_final_value
the data type of that row <class 'str'>
actions_taken
the data type of that row <class 'str'>
run_count
the data type of that row <class 'numpy.int64'>
true_count
the data type of that row <class 'numpy.int64'>
win
the data type of that row <class 'numpy.float64'>

In [11]:
df

,shoe_id,cards_remaining,dealer_up,initial_hand,dealer_final,dealer_final_value,player_final,player_final_value,actions_taken,run_count,true_count,win
0,0,416,10,"[10, 11]","[10, 4, 10]",24,"[[10, 11]]",['BJ'],[['S']],1,0,1.5
1,0,411,10,"[5, 5]","[10, 8]",18,"[[5, 5, 11]]",[21],"[['H', 'S']]",-2,0,1.0
2,0,406,6,"[3, 10]","[6, 6, 10]",22,"[[3, 10]]",[13],[['S']],-2,0,1.0
3,0,401,10,"[5, 9]","[10, 8]",18,"[[5, 9, 11, 3]]",[18],"[['H', 'H', 'S']]",-1,0,0.0
4,0,395,8,"[6, 10]","[8, 2, 10]",20,"[[6, 10, 10]]",[26],[['H']],-1,0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
249995,4113,302,3,"[4, 5]","[3, 8, 10]",21,"[[4, 5, 10]]",[19],[['D']],-6,-1,-2.0
249996,4113,296,10,"[2, 6]","[10, 11]",BJ,"[[2, 6]]",[8],[[]],-5,0,-1.0
249997,4113,292,6,"[3, 4]","[6, 10, 6]",22,"[[3, 4, 6]]",[13],"[['H', 'S']]",-5,0,1.0
249998,4113,286,10,"[10, 10]","[10, 11]",BJ,"[[10, 10]]",[20],[[]],-1,0,-1.0
249999,4113,282,2,"[2, 8]","[2, 10, 7]",19,"[[2, 8, 6]]",[16],[['D']],-5,0,-2.0

# Create a new data frame containing the relevant data

In [12]:
df_cleaned = pd.DataFrame()

# Cleaning our data

### Necessary to convert all of these values from strings into actual lists

In [13]:
df_cleaned['initial_hand_list'] = df['initial_hand'].apply(lambda x: ast.literal_eval(x))
df_cleaned['dealer_final_list'] = df['dealer_final'].apply(lambda x: ast.literal_eval(x))
df_cleaned['player_final_list'] = df['player_final'].apply(lambda x: ast.literal_eval(x))
df_cleaned['actions_taken_list'] = df['actions_taken'].apply(lambda x: ast.literal_eval(x))

In [14]:
#Sanity check to check if each value was converted correctly
print(type(df_cleaned['initial_hand_list'][0]), type(df_cleaned['initial_hand_list'][0][0]))

<class 'list'> <class 'int'>

# Update win column to find out if the player won

In [15]:
def win_tie_loss(x):
    if x == 0: # Tie hands
        return -1
    elif x >= 1: # Win hands
        return 1
    else:
        return 0 # Lost hands

In [16]:
df_cleaned['win_bool'] = df['win'].apply(win_tie_loss)
df_cleaned

,initial_hand_list,dealer_final_list,player_final_list,actions_taken_list,win_bool
0,"[10, 11]","[10, 4, 10]","[[10, 11]]",[[S]],1
1,"[5, 5]","[10, 8]","[[5, 5, 11]]","[[H, S]]",1
2,"[3, 10]","[6, 6, 10]","[[3, 10]]",[[S]],1
3,"[5, 9]","[10, 8]","[[5, 9, 11, 3]]","[[H, H, S]]",-1
4,"[6, 10]","[8, 2, 10]","[[6, 10, 10]]",[[H]],0
...,...,...,...,...,...
249995,"[4, 5]","[3, 8, 10]","[[4, 5, 10]]",[[D]],0
249996,"[2, 6]","[10, 11]","[[2, 6]]",[[]],0
249997,"[3, 4]","[6, 10, 6]","[[3, 4, 6]]","[[H, S]]",1
249998,"[10, 10]","[10, 11]","[[10, 10]]",[[]],0
249999,"[2, 8]","[2, 10, 7]","[[2, 8, 6]]",[[D]],0

In [17]:
df_cleaned['win_bool'].value_counts()

 0    123862
 1    105076
-1     21062
Name: win_bool, dtype: int64

In [18]:
df_cleaned['win_bool'].value_counts(normalize=True) * 100

 0    49.5448
 1    42.0304
-1     8.4248
Name: win_bool, dtype: float64